.profile__edit-button {
    background: none;
    border: none;
    padding: 0;
    background-image: url('../../../images/Edit_Button.svg');
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 36px;
    margin-left: 18px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-size: cover;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media (max-width: 660px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}