.mesto__elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding: 0;
    row-gap: 20px;
    column-gap: 17px;
    margin: 0;
}

@media (max-width: 660px) {
    .mesto__elements {
        grid-template-columns: repeat(1, 1fr);
    }
}