.profile__subtitle {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 580px;
}

@media (max-width: 660px) {
    .profile__subtitle {
        font-size: 14px;
        font-style: normal;
        margin: 0 auto;
    }
}