.profile__subtitle {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
}

@media (max-width: 660px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 16.94px;
        margin: 0 auto;
        margin-top: 8px;
    }
}