.profile__title {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    max-width: 294px;
    margin-top: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 660px) {
    .profile__title {
        font-size: 27px;
        line-height: 32.68px;
        max-width: 189px;
        padding-left: 27px;
        margin-top: 30px;
    }
}