.profile__add-button {
    background: none;
    border: none;
    padding: 0;
    background-image: url('../../../images/addbutton.svg');
    position: relative;
    z-index: 1;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    background-position: center;
    border: 2px solid #FFF;
}

.profile__add-button:hover {
    opacity: .6;
}

@media (max-width: 660px) {
    .profile__add-button {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 282px;
    }
}