.profile__add-button {
    background: none;
    overflow: hidden;
    border: none;
    background-image: url('../../../images/Add_Button.svg');
    padding: 0;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
}

.profile__add-button:hover {
    opacity: .6;
}

@media (max-width: 660px) {
    .profile__add-button {
        background-image: url('../../../images/addbutton.svg');
        background-position: center;
        border: 2px solid #FFF;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 282px;
        border-radius: 2px;
    }
}