.footer__text {
    color: #545454;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 900px) {
    .footer__text {
        padding-left: 19px;
    }
}

@media (max-width: 660px) {
    .footer__text {
        font-size: 14px;
    }
}