.popup__close-button {
    background: none;
    background-image: url('../../../images/Close_Icon.svg');
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: .6;
}

@media (max-width: 390px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: cover;
        right: 0;
        top: -36px;
    }
}