.popup__profile-edit {
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 47px;
    margin-top: 34px;
    margin-left: 36px;
    margin-right: auto;
    line-height: 29.05px;
}

@media (max-width: 660px) {
    .popup__profile-edit {
        font-size: 18px;
        margin-left: 22px;
        margin-top: 26px;
        margin-bottom: 74px;
        line-height: 21.78px;
    }
}